<% include shared/header.ejs %>

    <h1><%= title %></h1>

    <p>This application uses Node JS, Express Genorator, and MEAN Stack.</p>

    <p>I am currently writing an indepth fantasy book series with hundreds of characters, so many that I've started losing track of them.</p> 
    <p>Hopfully with this application I can create a well structured and easy to read character profile database for my convenience</p>
    
    <p>This application uses both Bootstrap and my own custom CSS. I have almost implemented CSS Grid in the application</p>
  
<% include shared/footer.ejs %>