<% include ../shared/header.ejs %>

<h1><%= title %></h1>

<form method="post" id="add">
    <fieldset class="form-group">
        <label for="name" class="control-label col-md-2">Name:</label>
        <input class="col-md-2" type="text" id="name" name="name" required>
    </fieldset>
    <fieldset class="form-group">
        <label for="race" class="control-label col-md-2">Race:</label>
        <select class="col-md-2" id="race" name="race" required>
                <option value="">Select a Race...</option>
                <% for (let i = 0; i < race.length; i++) { %>
                <option value="<%= race[i].name %>"><%= race[i].name %></option>
                <% } %>
        </select>
    </fieldset>
    
    <fieldset class="form-group">
        <label for="gender" class="control-label col-md-2">Gender:</label>
        <fieldset class="form-check" style="display: inline;">
            <input class="form-check-input" type="radio" name="gender" id="male" value="Male" required <% if(race.name == 'Kindred') { %> disabled <% } %>>
            <label class="form-check-label" for="male">Male</label>
        </fieldset>
        <fieldset class="form-check" style="display: inline;">
                <input class="form-check-input" type="radio" name="gender" id="female" value="Female" required <% if (race.name == "Kindred") {checked} %>>
                <label class="form-check-label" for="female">Female</label>
        </fieldset>
        <fieldset class="form-check" style="display: inline;">
                <input class="form-check-input" type="radio" name="gender" id="other" value="Other" required <% if (race.name == "Kindred") {disabled} %>>
                <label class="form-check-label" for="other">Other</label>
        </fieldset>
        <% if (race.name === "Kindred") { %>
            <p>Note: Only Females Can Be Kindred.</p>
        <% } %>
    </fieldset>
    <!-- <fieldset class="form-group">
        <label for="race" class="control-label col-md-2">Race:</label>
        <input type="text" id="race" name="race" required>
    </fieldset>
    <fieldset class="form-group">
        <label for="gender" class="control-label col-md-2">Gender:</label>
        <input type="text" id="gender" name="gender" required>
    </fieldset> -->
    <fieldset class="form-group">
        <label for="element" class="control-label col-md-2">Magic Element:</label>
        <input class="col-md-2" type="text" id="element" name="element" required>
    </fieldset>
    <fieldset class="form-group">
        <label for="summary" class="control-label col-md-2">Summary:</label>
        <textarea type="text" cols="100" rows="4" id="summary" name="summary"></textarea>
    </fieldset>
    <button class="offset-2 btn btn-primary">Submit</button>
</form>

<% include ../shared/footer.ejs %>